.stay-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .stay-title {
        align-items: baseline;
    }

    .share-save {
        display: flex;
        gap: rem(20px);

        a {
            text-decoration: underline;
            margin: 0 rem(-8px);
            padding: rem(8px);
        }
    }
}

.info-reservation {
    display: flex;
    align-items: flex-start;

    .stay-info {
        flex: 6;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    .reservation {
        flex: 4;
        min-width: 0;
    }

    h2 {
        height: rem(26px);
    }

    .stay-rating-star-icon {
        max-width: rem(14px);
    }

    .loc-and-amenities {
        // padding: rem(32px) 0;
        height: rem(142px);

        .info-list {
            display: flex;
            gap: rem(6px);
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: rem(20px);

            li {
                margin: 0;
                padding: 0;
            }
        }
    }

   }

.rating-reviews {
    display: flex;
    gap: rem(6px);
    margin: rem(8px) 0 0;
    font-weight: bold;
}

.stay-host-details {
    height: rem(90px);
    align-content: center;
    padding: rem(24px) 0;

    .host {
        display: flex;
        align-items: center;
    }
}


