.stay-trip-container {
  display: grid;
  gap: rem(40px);
  padding-inline: rem(40px);
  border-block-start: rem(0.667px) solid $clr6;

  h1 {
    margin-bottom: 0;
    margin-top: rem(36px);

  }

  .stay-trip {
    display: flex;
    gap: rem(20px);

    .trip-info{
      align-content: center;
      color: $clr7;
    }

    &:last-of-type {
      margin-bottom: rem(24px);
    }

    .trip-img {
      max-width: 240px;
      border-radius: 10px;

    }

    .trip-city {
      font-weight: 700;
      margin-bottom: rem(4px);
    }
  }

  .trip-not {
    border-block-start: rem(0.667px) solid $clr6;
    padding: rem(24px) 0;

    span {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}