.stay-trip-container {
  display: grid;
  gap: rem(40px);
  border-block-start: rem(0.667px) solid $clr6;
  h1 {
    margin-bottom: rem(8px);
    margin-top: rem(44px);
    font-size: rem(32px);
  }

  .stay-trip {
    display: flex;
    gap: rem(20px);

    .trip-info {
      color: $clr7;

      .trip-city {
        font-weight: 700;
        color: $clr3;
      }
    }

    &:last-of-type {
      margin-bottom: rem(24px);
    }

    .trip-img {
      max-width: 240px;
      border-radius: 10px;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
    }
  }

  .trip-not {
    border-block-start: rem(0.667px) solid $clr6;
    padding: rem(24px) 0;

    span {
      font-weight: 600;
      text-decoration: underline;
    }
  }

}