.stay-orders-container {
  padding: rem(20px);

  h1 {
    font-size: rem(32px); // 2rem (16px * 2)
    color: $clr3; // שחור כהה
    margin-bottom: rem(20px);
  }

  .stay-orders-table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: rem(20px);

    th,
    td {
      border: rem(1px) solid $clr6; // אפור בהיר
      padding: rem(10px);
      text-align: left;
    }

    th {
      background-color: $clr4; // אפור כהה
      color: $clr5; // לבן
    }

    td {
      background-color: $clr5; // לבן
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $clr6; // אפור בהיר
        }
      }
    }

    .btn {
      margin-right: rem(5px);
      padding: rem(10px) rem(15px);
      border-radius: rem(5px);
      background-color: transparent;
      cursor: pointer;

      &-accept {
        border: rem(1px) solid $clr8; // ירוק
        color: $clr8;
      }

      &-reject {
        border: rem(1px) solid $clr1; // אדום
        color: $clr1;
      }

      &:hover {
        opacity: 0.8;
      }

      &.btn-disabled {
        cursor: not-allowed;
        border: rem(1px) solid $clr4;
        color: $clr4;
        opacity: 0.5;
      }
    }
  }
}
