.app-header {
  background-color: $clr5; // לבן
  padding-inline: rem(40px);
  padding-top: rem(20px);


  .nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;

    .links-header, .mini-filter-container {
      justify-self: center;
    }

    .logo {
      display: flex;
      align-items: center;

      .app-logo {
        height: rem(32px);
        margin-right: 0.5rem;
      }

      h1 {
        font-size: 1.5rem;
        color: $clr1; // אדום
        margin: 0;
      }
    }

    .links-header {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 1.5rem;

      a {
        padding: rem(10px);
        font-size: 1rem;
        text-decoration: none;

        &.stay-header {
          color: $clr3; // שחור כהה
          font-weight: bold;

          &:hover {
            background: none;
          }
        }

        &.exp-header {
          color: $clr7; // שחור כהה
          font-size: rem(16px);
          border-radius: rem(22px);

          &:hover {
            background-color: lighten($clr6, 8%);
          }
        }
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      gap: rem(8px);

      
      
      .sticky-header-wrapper.scrolled {
        .app-header {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
      
      .add-stay {
        color: $clr3; // שחור כהה
        font-size: rem(14px);
        font-weight: 600;
        padding: rem(12px);
        border-radius: 22px;

        &:hover {
          background-color: $clr6; // אפור בהיר
        }
      }

      .menu-button {
        border: 1px solid $clr6; // אפור בהיר
        border-radius: rem(21px);
        padding: 5px 5px 5px 12px;
        display: flex;
        align-items: center;

        .menu-icon {
          width: rem(16px);
          height: rem(16px);
        }

        .user-icon {
          width: rem(30px);
          height: rem(30px);
          background-color: $clr4; // אפור כהה
          border-radius: 50%;
        }
      }
    }
  }

  &.stay-details-header {
    border-bottom: 1px solid $clr6; // אפור בהיר
    padding: 0 200px;
    height: 80px;

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .links-header {
        background-color: $clr5; // לבן
        border: 1px solid $clr6; // אפור בהיר
        border-radius: 40px;
        padding: 8px 16px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08),
          0 4px 12px rgba(0, 0, 0, 0.05);

        a {
          color: $clr3; // שחור כהה
          font-size: rem(14px);
          font-weight: 600;
          padding: 0 16px;
          border-right: 1px solid $clr6; // אפור בהיר

          &:last-child {
            border-right: none;
          }
        }
      }

      .user-actions {
        gap: rem(8px);

        .add-stay {
          font-size: rem(14px);
          padding: rem(12px);
          border-radius: 22px;
        }

        .menu-button {
          border-radius: rem(21px);
          padding: 5px 12px;
          gap: rem(12px);

          .menu-icon {
            width: rem(16px);
            height: rem(16px);
          }

          .user-icon {
            width: rem(30px);
            height: rem(30px);
          }
        }
      }
    }
  }
}

.sticky-header-wrapper.scrolled .app-header .links-header {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.stay-filter-container {
  transition: opacity 0.8s ease, visibility 0.8s ease, display 0s linear 0.8s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
    margin: -55px;
  }

}

