.filter-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
    padding: 8px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
        margin-right: 8px;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}