.menu-button-container {
  position: relative;

  .menu-button {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 12px;
    border: 1px solid $clr6;
    border-radius: rem(21px);
    background-color: $clr5;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .menu-icon {
      display: block;
      fill: none;
      height: rem(16px);
      width: rem(16px);
      stroke: currentcolor;
      stroke-width: 3;
      overflow: visible;
    }

    .divider {
      width: rem(1px);
      height: rem(24px);
      //   background-color: $clr6;
      margin: 0 6px;
    }

    .profile-icon-wrapper {
      
      img {
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        width: rem(30px);
        height: rem(30px);
      }
    }

    .profile-icon {
      display: block;
      height: 100%;
      width: 100%;
      fill: currentcolor;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $clr5;
    border: 1px solid $clr6;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
    padding: 8px 0;
    margin-top: 8px;
    min-width: 240px;
    z-index: 150;

    a {
      display: block;
      padding: 12px 16px;
      color: $clr3;
      text-decoration: none;
      font-size: rem(14px);

      &:hover {
        background-color: $clr6;
      }
    }

    h3 {
      text-align: center;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-inline-start: auto;

    color: $clr1;


    img {
        width: 32px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .btn-link {
        color: $clr3;
    }
}
}
