.stay-preview {
  font-size: rem(14px);
  position: relative;

  .imgs {
    width: 100%;
  }

  .stay-preview-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 11.2px;
    object-fit: cover;
  }

  .stay-preview-star-icon {
    max-width: 14px;
  }

  .stay-preview-info {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
    }

    .stay-preview-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    .stay-preview-location,
    .stay-preview-rating,
    .stay-preview-distance,
    .stay-preview-date-range,
    .stay-preview-price {
      margin: 0;
      padding: 0;
    }

    .stay-preview-rating {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .stay-preview-distance,
    .stay-preview-date-range {
      color: $clr4;
    }
  }

  span,
  .stay-preview-location {
    font-weight: bold;
  }

  .slick-slider {
    .slick-prev,
    .slick-next {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &.slick-disabled:before {
        opacity: 0;
      }

      &:before {
        font-size: 28px;
      }
    }

    .slick-prev {
      left: 5px;
      z-index: 100;
    }

    .slick-next {
      right: 10px;
      z-index: 100;
    }

    &:hover .slick-prev,
    &:hover .slick-next {
      opacity: 1;
    }

    .slick-dots {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;

      li {
        margin: 0 -5px;

        button {
          &::before {
            color: $clr5;
            opacity: 0.75;
          }
        }

        &.slick-active button::before {
          color: $clr5;
          opacity: 1;
        }
      }
    }
  }

  .wish-list-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 110;
    stroke: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #ff385c;
    }
  }
}
