.stay-list {
  width: calc(100% - #{$side-padding} * 2);
  margin: 0.85rem 0.2rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 2.5rem 1.75rem;
  box-sizing: border-box;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
