.sticky-header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.app-header,
.search-filter,
.label-container {
  width: 100%;
}

.stay-filter-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
