* {
  box-sizing: border-box;
}

html {
  font-family: AirbnbCereal_W_Bk, sans-serif;
  line-height: 1.6;
  color: $clr3;
  height: 100%;
}

body {
  font-family: AirbnbCereal_W_Bk, sans-serif;
  font-size: rem(16px);
  margin: 0;
  margin: auto;
  height: 100%;
  background-color: $clr5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AirbnbCereal_W_Bk, sans-serif;
  line-height: 1;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
