.hidden {
  display: none;
}

.bold {
  font-weight: 600;
  color: $clr3;
}

.airbnb-btn {
  width: 100%;
  padding: rem(14px);
  background-color: $clr1;
  color: white;
  border: none;
  border-radius: rem(8px);
  font-size: rem(16px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $clr11;
  }
}

.padding{
  padding-inline:rem(80px);
}
