// Colors
$clr1: #ff385c; // אדום
$clr2: #4f3a65; // סגול כהה
$clr3: #222222; // שחור כהה
$clr4: #717171; // אפור כהה
$clr5: #fff; // לבן
$clr6: #dfdfdf; // אפור בהיר
$clr7: #6a6a6a; //אפור אמצע
$clr8: #28a745; // ירוק
$clr9: #f7f7f7; // FOOTER
$clr10: #e0e0e0;
$clr11: #e61e4d; // אדום בהיר
$clr12: #ccc;
$clr13: #484848;


// Breakpoints

:root {
    --layout-padding: 20px;
    --max-width: 2360px;
    --padded-max-width: calc(var(--max-width) + (var(--layout-padding) * 2));
}
