// Colors
$clr1: #ff385c; // אדום
$clr2: #4f3a65; // סגול כהה
$clr3: #222222; // שחור כהה
$clr4: #717171; // אפור כהה
$clr5: #ffffff; // לבן


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;