// Colors
$clr1: #ff385c; // אדום
$clr2: #4f3a65; // סגול כהה
$clr3: #222222; // שחור כהה
$clr4: #717171; // אפור כהה
$clr5: #ffffff; // לבן
$clr6: #dfdfdf; // אפור בהיר
$clr7: #6a6a6a; //אפור אמצע
$clr8: #28a745; // ירוק
$clr9: #f7f7f7; // FOOTER
$clr10: #e0e0e0;
$clr11: #e61e4d; // אדום בהיר
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
