.guest-favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(16px) rem(24px);
  border: 1px solid $clr10;
  border-radius: rem(12px);
  max-width: rem(700px);
  margin-bottom: rem(24px);
  height: rem(90px);

  .favorite-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: rem(16px);
    white-space: nowrap;


    .laurel {
      width: rem(36px);
      height: rem(36px);
      object-fit: contain;
    }

    .label-text {
      font-size: rem(18px);
      font-weight: 500;
    }
  }

  .guest-description {
    flex: 1;
    color: $clr13;
    font-size: rem(16px);
    font-weight: 500;
    margin: 0 rem(16px);
  }

  .rating-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    .rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: rem(4px);

      .rating-value {
        font-size: rem(22px);
        font-weight: 600;
        margin-right: rem(4px);
      }

      .stars {
        display: flex;
        align-items: center;

        .star-svg {
          width: rem(12px); 
          height: rem(12px); 
          margin-right: 2px;
        }
      }
    }

    .divider {
      height: 50px;
      width: 1px;
      background-color: $clr12;
      margin: 0 rem(20px);
    }

    .reviews {
      display: flex;
      flex-direction: column;
      align-items: center;

      .review-count {
        font-size: rem(22px);
        font-weight: bold;
        color: $clr13;
      }

      .review-text {
        font-size: rem(14px);
        color: $clr7;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1100px) {
  .guest-description {
    display: none;
  }
}